<%# <div class='container'>

<div class='square-card' style="background-image: url(<%= image_path('homme.png')%>)";>
<%# <a href="vehicles">aeriens</a>
</div>

<div class='square-card' style="background-image: url(<%= image_path('homme.png')%>)">
<%# <a href="vehicles">maritimes</a>
</div>


<div class='square-card' style="background-image: url(<%= image_path('homme.png')%>)">
<%# <a href="vehicles">terrestres</a>
</div>

</div> %> %> %> %>


