<div class="container mt-5">
    <% current_user.reviews.each do |review| %>
      <div class="notification">
        <img src='https://fakeimg.pl/600x400/041211/edb6e9?text=VEHICULE&font=museo' class="avatar-large" />
        <div class="notification-content">
          <p><small>note : <%= review.rating %>/5</small></p>
          <p><%= review.comment %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%# <%= link_to "Voir le véhicule", vehicle_path(booking.vehicle.id), class: "btn btn-primary" %>
<%#
        <% @my_bookings.each do |booking| %>
          <%# <div class="card-resume"> %>
            <%# <p> <%= booking.place %> </p>
          