.bookingactionstyle button {
  margin: 10px;
}


.bookingactionstyle .btn {
  margin: 10px;
  border-radius: 5px;
  border: 1px solid black;
  width: 250px;
  font-size: 16px;
  font-weight: 600;
}

#azer {
  margin-top: 10px;
  background-color: lightgreen;
}

.center {
  position: absolute;
  left: 50%;
  bottom: 10px; /* Ajuste la distance du bas selon tes besoins */
  transform: translateX(-50%);
}
