.bookingactionstyle button {
  margin-bottom: 0px;
}


.bookingactionstyle .btn {
  margin-bottom: 3px;
  border-radius: 5px;
  border: 1px solid black;
  width: 250px;
  font-size: 16px;
  font-weight: 600;
}

.btn-modify {
  background-color: lightgreen;
}
