.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.map {
  position: fixed!important;
  top: 175px;
  right: 25px;
  height: 60vh;  // Hauteur de la carte (ajustez selon vos besoins)
  width: 300px;  // Largeur de la carte (ajustez selon vos besoins)
  background-color: #f0f0f0;  // Couleur de fond de la carte (ajustez selon vos besoins)
  z-index: 1000;
}
