<div class="container mt-5">
  <div class="row">
    <% @vehicles.each do |vehicle| %>
      <!-- Carte 1 -->
      <div class="col-md-3 mb-3">
          <div class="card">
              <%= cl_image_tag @article.photo.key, height: 300, width: 400, crop: :fill %>
              <div class="card-body">
                  <h5 class="card-title"><%= vehicle.name %></h5>
                  <p class="card-text"><%= vehicle.description %></p>
                  <%= link_to "en sa", vehicle_path(vehicle) %>
              </div>
          </div>
      </div>
    <% end %>
  </div>
</div>
