<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">

    <title>Accueil - RadRides</title>
</head>
<body>

    <div class="content">
      <div class="voitures">
        <div class="voiture" style="background-image: url(https://i.ibb.co/m5y80Kh/rad-rides.png)">
          1
        </div>

        <div class="voiture" style="background-image: url(https://i.ibb.co/m5y80Kh/rad-rides.png)">
          2
        </div>

        <div class="voiture" style="background-image: url(https://i.ibb.co/m5y80Kh/rad-rides.png)">
          3
        </div>

        <div class="voiture" style="background-image: url(https://i.ibb.co/m5y80Kh/rad-rides.png)">
          4
        </div>

        <div class="voiture" style="background-image: url(https://i.ibb.co/m5y80Kh/rad-rides.png)">
          5
        </div>

        <div class="voiture" style="background-image: url(https://i.ibb.co/m5y80Kh/rad-rides.png)">
          6
        </div>

      </div>
    </div>

</body>
</html>
