
    <div>
      <h1><%= @vehicle.name %></h1>
    </div>

    <div>
      <p><%= @vehicle.description %></p>
      <p>Catégorie : <%=@vehicle.category %></p>
      <p>Price : <%=@vehicle.price %> euros</p>
    </div>

    <div>
      <img src="https://fakeimg.pl/600x400">
    </div>
