<div class="card" style="width: 18rem;">
  <img src="https://fakeimg.pl/600x400" class="card-img-top" alt="Détails">
  <div class="card-body">
    <h5 class="card-title"><%= @vehicle.name %></h5>
    <p class="card-text"><%= @vehicle.description %></p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"> Catégorie : <%= @vehicle.category %></li>
    <li class="list-group-item"> Prix : <%= @vehicle.price %> euros</li>
  </ul>
  <div class="card-body">
    raise
    <a href="/vehicles/:vehicle_id/bookings/new" class="btn btn-primary">Réserver</a>
    <a href="#" class="btn btn-primary" onClick="history.go(-1)">Retour</a>
    <%# <a href="/vehicles" class="btn btn-primary">Retour</a> %>
  </div>
</div>
